name: Python application CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      TWITTER_EMAIL: ${{ secrets.TWITTER_EMAIL }}
      TWITTER_USERNAME: ${{ secrets.TWITTER_USERNAME }}
      TWITTER_PASSWORD: ${{ secrets.TWITTER_PASSWORD }}
    
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Cache pip dependencies
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Run tests with pytest
      run: |
        pytest
        
  train-and-deploy:
    runs-on: ubuntu-latest
    needs: test # This job runs only after the 'test' job succeeds
    # This job runs only on push events to the main branch
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    env:
      TWITTER_EMAIL: ${{ secrets.TWITTER_EMAIL }}
      TWITTER_USERNAME: ${{ secrets.TWITTER_USERNAME }}
      TWITTER_PASSWORD: ${{ secrets.TWITTER_PASSWORD }}
    
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Cache pip dependencies
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Run training script
      run: |
        python training/train.py

    - name: Commit and push model changes
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "ci: Auto-commit new model artifacts"
        file_pattern: app/sentiment_model/*.*
        commit_user_name: "GitHub Actions Bot"
        commit_user_email: "actions@github.com"
        commit_author: "GitHub Actions Bot <actions@github.com>"

